<!-- body of a page -->
<h1>
    <!-- cách duyệt mảng trong Handlebar
    {{#each data}}: mở
    {{/each}}: đóng
    id, name, category, price: tên các cột trong CSDL
    -->
    {{#each data}}
        {{this.id}}
        {{this.name}}
        {{this.category}}
        {{this.price}}
    {{/each}}
</h1>